body{
    background:rgb(164, 88, 88);
    font-family: Arial, sans-serif;
}
.title1{
    color: #FFC107;
    display: flex;
    flex: 1;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.table{
    background-color: #9D1F20;
    color:  #000000;
    display: table;
    align-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 0 0;
}

th, td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: left; 
  }
  
  th {
    border-color: #ddd; 
    ;
  }
